@import url(components/poster.css);
@import url(components/button.css);

.main-detalle {
    width: 70%;
    margin: auto;
}

.seccion-detalle {
    margin: 15px;
    padding: 15px;
    text-align: center;
    border: 2px solid;
    box-shadow: 5px 0px 5px 0px black;
}

h3 {
    padding-top: 1px;
    padding-top: 1px;
}

.div-clasificacion, .div-genero {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
    border-left: 2px solid;
    box-shadow: 5px 0px 5px 1px black;
    margin: 3px 50px 20px 3px;
}

.div-horarios, .div-director, .div-duracion {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
    border-left: 2px solid;
    box-shadow: 5px 0px 5px 2px black;
    margin: 3px 3px 15px 50px
}

h3 {
    margin: auto 10px;
}

.p-horarios {
    margin: 10px;
}

.div-puntuacion {
    font-size: 25px;
    padding: 5px;
    padding-right: 0;
    margin-right: 0;
    text-align: start;
}

@media (max-width: 600px) {

    .seccion-detalle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-detalle {
        width: 95%;
    }
    .poster {
        width: 100%;
        height: auto;
    }

    .seccion-detalle > div:nth-child(2) {
        width: 100%;
    }

    .div-horarios,
    .div-clasificacion,
    .div-director,
    .div-genero,
    .div-duracion {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        margin: 10px 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid black;
    }
    
    p {
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }

    .div-horarios {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        padding-bottom: 20px;
    }

    .p-horarios {
        margin: 0;
    }

    .boton-comprar-entradas {
        width: 90%;
        text-align: center;
        margin-top: 10px;
    }
}