@import url(components/poster.css);
@import url(components/button.css);
@import url(components/footer.css);
@import url(components/nav.css);
@import url(style.css);

.main-detalle {
    width: 70%;
    margin: auto;
}

body {
    background-color: var(--evermore-gold-muted);
    color: var(--evermore-brown-dark);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.seccion-detalle {
    margin: 16px;
    padding: 16px;
    text-align: center;
    background-color: var(--evermore-beige);
    border: 2px solid;
    box-shadow: 4px 0px 4px 0px black;
    box-sizing: border-box;
}

.fila-superior {
    margin: auto;
    display: flex;
    align-items: center;
}



.div-poster {
    box-sizing: border-box;
    padding: 10px;
}

.poster {
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}

h3 {
    padding-top: 1px;
    padding-top: 1px;
}

.div-clasificacion, .div-genero {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
    border-left: 2px solid;
    box-shadow: 4px 0px 4px 1px black;
    margin: 4px 42px 20px 4px;
    background-color: white;
}

.div-horarios, .div-director, .div-duracion {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
    border-left: 2px solid;
    box-shadow: 4px 0px 4px 2px black;
    margin: 4px 4px 16px 42px;
    background-color: white;
}

h3 {
    margin: auto 12px;
}

.p-horarios {
    margin: 12px;
}

.parte-inferior {
    display: flex;
}

.div-puntuacion {
    font-size: 24px;
    padding: 4px;
    padding-right: 0;
    margin-right: 0;
    text-align: start;
}

.boton-comprar-entradas{
    display: flex;
    text-align: center;
    margin: auto;
    margin-right: 10px;
    text-decoration: none;
}

@media (max-width: 600px) {
    .div-header {
        width: 90%;
    }

    .seccion-detalle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-detalle {
        width: 95%;
    }

    .fila-superior {
        display: block;
        align-items: center;
    }
    .poster {
        width: 100%;
        height: auto;
    }

    .seccion-detalle > div:nth-child(2) {
        width: 100%;
    }

    .div-horarios,
    .div-clasificacion,
    .div-director,
    .div-genero,
    .div-duracion {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        margin: 12px 0;
        border: none;
        box-shadow: none;
        border: 2px solid black;
    }
    
    p {
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }

    .div-horarios {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        padding-bottom: 20px;
    }

    .p-horarios {
        margin: 0;
    }

    .parte-inferior {
        display: block;
    }

    .boton-comprar-entradas {
        width: 50%;
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 10px;
    }
}