@import url(components/button.css);
@import url(components/footer.css);
@import url(components/nav.css);
@import url(style.css);

body {
    background-color: #fdfdfd;
}

main {
  flex: 1; 
}

.titulo{
  font-size: 2.5rem;
  text-align: center;
}

section:first-of-type {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: #b7a160;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
}

section > div {
  max-width: 400px;    
  margin: 0 auto;      
  text-align: center;  
}

ul {
  list-style: none;    
  padding: 0;
}

@media (max-width: 600px) {
  section:first-of-type {
    flex-direction: column;
    align-items: center;
  }
}