@import url(./components/poster.css); /* solo tiene modificado las dimensiones de las img */


:root {
  /* Colores Principales */
    --evermore-brown-dark: #3D2B1F;
    --evermore-brown-warm: #8C5E3C;
    --evermore-beige: #D9C5B2;

  /* Colores de Acento */
    --evermore-forest-green: #2D3A27;
    --evermore-gold-muted: #BFA07E;
    --evermore-wine: #5E1D1D;

  /* Neutros */
    --evermore-mist: #E3E1DE;
}

header{
  border-bottom: 2px solid black;
  box-shadow: 0 0 5px 0px black;
}

.div-header {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  width: 50%;
  border-radius: 12px;
  border: 2px solid black;
}

.img-header {
  margin: 12px;
  border-radius: 12px;
  border: 2px solid black
}
