/* ---- FOOTER ---- */
/* footer {
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-size: 0.85rem;
    color: #aaa;
    margin-top: 40px;
    border-top: 1px solid #eee;
} */

footer{
    margin-top: 20px;
    color: black;
    background-color: var(--evermore-mist);
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}